Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
Content/Virtual_Production/Maps/Bar_Scene_BuiltData.uasset
